.wrapper-order__details {
    background-color: #F5F5F5;
    padding-top: 216px;
}

.filter-order {
    cursor: pointer;
    color: #353535;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 16px 0;
    font-size: 1.2rem;
    line-height: 19px;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, .09);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: color .2s;
    margin-bottom: 16px;
}

.filter-order:hover {
    color: #c30005;
}

.filter-order--active {
    color: #c30005;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid #c30005;
}

.order__details-items {
    color: #353535;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 24px;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, .09);
    overflow: hidden;
    transition: color .2s;
    margin-bottom: 16px;
}

.order-details__img {
    height: 80px;
    width: 80px;
    margin-right: 12px;
}

del {
    opacity: 0.26;
    color: #353535;
}

.order-details__title {}

.order-details__num {}

.order-details__price {
    color: #c30005;
}

.order-avatar {
    position:relative;
    color: #353535;
    font-weight: 600;
    cursor: pointer;
    padding: 6px 0;
}

.order-avatar::after {
    position:absolute;
    content: "";
    display: block;
    height: 1px;
    background-color: #dee2e6;
    width: 66%;
    bottom: 0;
}

.order-avatar:hover {
    color: #353535;
}

.account-detail {
    list-style: none;
    margin: 24px 0 0 40px;
}

.account-detail__item i{
    margin-right: 12px;
    padding: 12px 0;
}